# general ignore stuff
#files being edited
*~

# eclipse stuff
/.cdtproject
/.cproject
/.settings
/.csettings
/.dep

# /
/.settings
/.cproject
/.project
/Doxyfile
/build
/.autotools
/.csettings

# /design/
/design/*.png
# /test/
/test/flth00.dat
