#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

LDFLAGS = -Wl,-rpath -Wl,/opt/zlibnew/lib:/opt/grib_api-1.13.0/lib
CFLAGS = -Wall -g
ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2 -ftree-vectorize -fno-math-errno
endif
# require SSE2 on i386(in preinst) until some autodetect code is written
ifeq ($(DEB_HOST_ARCH),i386)
	CFLAGS  += -mfpmath=sse -msse2 -ftree-vectorize -fno-math-errno
endif

%:
	dh $@ --parallel

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	PKG_CONFIG_PATH=/opt/netcdf4.3.3/lib/pkgconfig \
	dh_auto_configure -- \
	    -DBUILD_SHARED_LIBS=BOTH \
	    -DENABLE_LOG4CPP=YES \
	    -DENABLE_GRIBAPI=YES -DGRIBAPI_INSTALL_DIR=/opt/grib_api-1.13.0 \
	    -DENABLE_FORTRAN=YES \
	    -DENABLE_PRORADXML=YES \
	    -DENABLE_METGM=YES \
	    -DENABLE_WDB=YES \
	    -DENABLE_FIMEX_OMP=YES \

.PHONY: override_dh_auto_install
override_dh_auto_install:
	dh_auto_install
	cd debian/tmp/usr/bin && for p in *0.23; do ln -s $$p $${p%-0.23}; done
	cd debian/tmp/usr/share && ln -s fimex-0.23 fimex
	cd debian/tmp/usr/include && ln -s fimex-0.23/fimex fimex

ifeq ($(DEB_HOST_ARCH),i386)
.PHONY: override_dh_auto_test
override_dh_auto_test:
	true
endif

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=fimex-0.23-dbg
