Source: fimex
Priority: extra
Maintainer: Heiko Klein <heiko.klein@met.no>
Build-Depends: debhelper (>= 5), libboost-date-time-dev, libboost-dev, libboost-filesystem-dev, libboost-program-options-dev, libboost-regex-dev, libboost-test-dev, libc6-dev, libxml2-dev, proj, libudunits2-dev, libnetcdf-dev
Standards-Version: 3.7.2
Section: libs

Package: libfimex-dev
Section: libdevel
Architecture: any
Depends: libfimex (= ${Source-Version}), libboost-date-time-dev, libboost-dev, libboost-filesystem-dev, libboost-regex-dev
Description: library for geo-spatial gridded data
 Development library for File Interpolations, Manipulations and EXtraction
 of gridded geo-spatial data.

Package: libfimex
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfelt, libudunits2, libnetcdf4, libboost-date-time1.34.1, libboost-filesystem1.34.1, libboost-regex1.34.1, libxml2, proj 
Description: library for geo-spatial gridded data
 Library for File Interpolations, Manipulations and EXtraction
 of gridded geo-spatial data.

Package: fimex-bin
Section: science
Architecture: any
Depends: ${shlibs:Depends}, libfimex (= ${Source-Version}), libboost-program-options1.34.1
Description: command line utility for geo-spatial gridded data
 The program fimex is a program for File Interpolations, Manipulations and
 EXtraction of gridded geo-spatial data.

Package: libfelt
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-date-time1.34.1, libboost-filesystem1.34.1, proj
Description: A c++ library for reading met.no's felt-files
 Dev-library for reading the internal file-format of the
 Norwegian Meteorological Institute
 
Package: libfelt-dev
Section: libdevel
Architecture: any
Depends: libfelt (= ${Source-Version}), libboost-date-time-dev, libboost-dev, libboost-filesystem-dev
Description: A c++ library for reading met.no's felt-files
 Dev-library for reading the internal file-format of the
 Norwegian Meteorological Institute
