useDynLib(RFimex)
#exportPattern("^[[:alpha:]]+")
export(CDMFileReaderFactory_create,
       boost__shared_ptrCDMReader_getCDM,
       SliceBuilder_setStartAndSize,
       boost__shared_ptrCDMReader_getSliceVecInUnit,
       SliceBuilder,
       boost__shared_ptrCDMReader_getCDM,
       vector2R,
       NetCDF_CDMWriter,
       delete_NetCDF_CDMWriter
)
