useDynLib(RFimex)
#exportPattern("^[[:alpha:]]+")
export(
       mifi.reader.new,
       mifi.reader.write,
       mifi.reader.variables,
       mifi.reader.getCoordinates,
       mifi.reader.getSliceVecInUnit,
       mifi.sb.new,
       mifi.sb.getDimensions,
       mifi.sb.setStartAndSize
)
