Source: fimex
Priority: extra
Maintainer: Heiko Klein <heiko.klein@met.no>
Build-Depends: debhelper (>= 5), devscripts, fakeroot, libboost-date-time-dev, libboost-dev, libboost-filesystem-dev, libboost-system-dev, libboost-iostreams-dev, libboost-program-options-dev, libboost-regex-dev, libboost-test-dev, libxml2-dev, libproj-dev, libudunits2-dev, libnetcdf-dev, libgrib-api-dev, libjasper-dev, libpng12-dev, libjpeg-dev, libpq-dev,  liblog4cpp5-dev
Build-Conflicts: libfimex-dev, libfelt-dev
Standards-Version: 3.7.2
Section: libs

Package: libfimex-dev
Section: libdevel
Architecture: i386 amd64 ia64 powerpc
Depends: libfimex-0.25.1-0 (= ${binary:Version}), ${misc:Depends}, libxml2-dev, libboost-dev, libboost-date-time-dev
Description: library for geo-spatial gridded data
 Development library for File Interpolations, Manipulations and EXtraction
 of gridded geo-spatial data.

Package: libfimex-0.25.1-0
Section: libs
Architecture: i386 amd64 ia64 powerpc
Depends: ${shlibs:Depends}, ${misc:Depends}, fimex-share, libfelt-0.25.1-0 (= ${binary:Version})
Description: library for geo-spatial gridded data
 Library for File Interpolations, Manipulations and EXtraction
 of gridded geo-spatial data.

Package: fimex-bin
Section: science
Architecture: i386 amd64 ia64 powerpc
Depends: ${shlibs:Depends}, ${misc:Depends}, libfimex-0.25.1-0 (= ${binary:Version})
Description: command line utility for geo-spatial gridded data
 The program fimex is a program for File Interpolations, Manipulations and
 EXtraction of gridded geo-spatial data.

Package: fimex-share
Section: science
Architecture: i386 amd64 ia64 powerpc
Depends: 
Description: shared files required for fimex-bin and libfimex
 The program fimex is a program for File Interpolations, Manipulations and
 EXtraction of gridded geo-spatial data.


Package: libfelt-0.25.1-0
Section: libs
Architecture: i386 amd64 ia64 powerpc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A c++ library for reading met.no's felt-files
 Dev-library for reading the internal file-format of the
 Norwegian Meteorological Institute

Package: libfelt-dev
Section: libdevel
Architecture: i386 amd64 ia64 powerpc
Depends: libfelt-0.25.1-0 (= ${binary:Version}), ${misc:Depends}
Description: A c++ library for reading met.no's felt-files
 Dev-library for reading the internal file-format of the
 Norwegian Meteorological Institute
